.dashboard {
  min-height: calc(100vh - 70px);
  margin-top: 70px;

  display: flex;
  justify-content: center;
  align-items: flex-start; /* ✅ center hata diya */

  color: white;
  color: black;
  text-align: center;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; /* auto hi rakho */
  padding-top: 80px; /* navbar ke paas */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

/* AI ORBIT ICON */
.ai-orbit {
  font-size: 48px;
  margin-bottom: 20px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  50% {
    transform: translateY(-10px);
  }
}

/* HEADING */
.hero h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  color: whi;
}

.hero h1 span {
  background: linear-gradient(90deg, #8b5cf6, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SEARCH BOX */

.placeholder::placeholder {
  color: #999;
}
.search-box {
  display: flex;
  align-items: center;
  gap: 10px;

  /* background: rgba(8, 8, 8, 0.907); */
  background: rgb(94, 91, 91);
  color: black;

  padding: 14px 18px;
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  max-width: 600px;
  margin: auto;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 22px;
}

.search-box span {
  opacity: 0.8;
  cursor: pointer;
}

/* SUGGESTIONS */
.suggestions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 25px 0;
}

.suggestions span {
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 16px;

  background: rgba(61, 58, 58, 0.08);
  border: 1px solid rgba(248, 6, 6, 0.12);

  cursor: pointer;
  transition: 0.3s;
}

.suggestions span:hover {
  background: rgba(255, 255, 255, 0.18);
}

/* CTA */
.cta {
  margin-top: 30px;
  padding: 14px 40px;
  font-size: 16px;
  font-weight: 600;

  border-radius: 14px;
  border: none;
  cursor: pointer;

  color: white;
  background: linear-gradient(135deg, #6366f1, #22d3ee);

  box-shadow: 0 12px 30px rgba(99, 102, 241, 0.5);
  transition: transform 0.3s;
}

.cta:hover {
  transform: translateY(-3px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 32px;
  }

  .search-box {
    max-width: 100%;
  }
}
